body {
    height: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

#demo {
    position: relative;
    height: 100%;
}


div.billboard-background {
    width: 200px;
    height: 200px;
}

#canvas canvas {
    position: absolute;
}

form {
    float: right;
    margin-right: 5em;
}
form div {
    margin: 1em;
}

form div, .box {
    display: block;
    padding: 0.5em;
    background: #cdf;
}